<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <form #t="ngForm" (ngSubmit)="onSignIn(t)">
        <div class="row">
          <div class="col-xs-12 form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required class="form-control" ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><button class="btn btn-primary" type="submit" [disabled]="!t.valid">Sign In</button>
          </div>
        </div>
      </form>

    </div>
  </div>
